
@media screen and (min-width: 1025px){
  html {
    height: 100%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  #dday{
    font-size: 30pt;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024){
  html {
    height: 100%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  #dday{
    font-size: 15pt;
  }
}
@media screen and (max-width: 768px){
  html {
    height: 100%;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
  #dday{
    font-size: 5pt;
  }
}

html{
  word-break: keep-all;
}

.BookID{
  border: thin solid black;
  margin-right: 10%;
  margin-left: 10%;
}

#dday{
  padding:0.3em;
  margin:0;
  align-items: center;
}

@font-face {
  font-family : 'Newjeans';
  src : url(newjeans.ttf)
}

#ad{
  border-width: 5px;
  border-radius: 100%;
  position: fixed;
  right: 2em; 
  bottom: 2em;
  padding: 0.5%;
  width: 10em;
  height: 10em;
  text-align: center;
}
#dday{
  line-height: 2.5em;
  text-decoration-line: none;
  font-size: 1.5em;
  font-family: 'Newjeans';
  position: absolute;
  top: 2.5em;
  left: 2em;
  font-weight: bold;
}
#njimg{
  height: 100%;
  width: 100%;
}
#reload{
  border-width: 5px;
  border-radius: 100%;
  position: fixed;
  left: 2em; 
  bottom: 2em;
  width: 10em;
  height: 10em;
  text-align: center;
  background:none;
}
#reloadtext{
  line-height: 2.5em;
  text-decoration-line: none;
  font-size: 1em;
  position: absolute;
  top: 4.5em;
  left: 4em;
  color: blue;
  user-select: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#refreshimg{
  height: 100%;
  width: 100%;
  background: none;
}