
@media screen and (min-width: 1025px){
  html {
    height: 100%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .gradeBox{    
    width: calc(100% / 3);   /* Divides the parent into three equal-width columns */
    margin-left: 2%;
    margin-right: 2%;
    display: flex;           /* Optional: If you want to align items inside gradeBox */
    flex-direction: column;  /* Optional: Aligns content in vertical order */
    margin-bottom: 1em;
    border: thin solid black; 
  }
  #gradeBoxParent{
    display: flex;         /* Enables flex layout */
    justify-content: space-between; /* Distributes space between items */
    align-items: stretch; /* Ensures all children stretch to the same height */
  }
  #dday{
    font-size: 30pt;
  }
  #ad{
    border-width: 5px;
    border-radius: 100%;
    position: fixed;
    right: 6%; 
    bottom: 6%;
    padding: 0.5%;
    width: 10%;
    aspect-ratio: 1;
    text-align: center;
  }
  #dday{
    line-height: 7.5%;
    text-decoration-line: none;
    font-size: 1.5vw;
    font-family: 'Newjeans';
      position: absolute;
      top: 53%;
      left: 30%;
    font-weight: bold;
  }
  #njimg{
    height: 100%;
    width: 100%;
  }
  #reload{
    border-width: 5px;
    border-radius: 100%;
    position: fixed;
    left: 6%; 
    bottom: 6%;
    padding: 0.5%;
    width: 10%;
    aspect-ratio: 1;
    text-align: center;
  }
  #reloadtext{
    line-height: 2.5em;
    text-decoration-line: none;
    font-size: 1em;
    position: absolute;
    top: 4.5em;
    left: 4em;
    color: blue;
    user-select: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #refreshimg{
    height: 100%;
    width: 100%;
    background: none;
  }
}
@media screen and (max-width: 1025px){
  html {
    height: 100%;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .gradeBox{
    
    border: thin solid black; 
    margin-left: 10%;
    margin-right: 10%;
  }
  #dday{
    font-size: 5pt;
  }
  #ad{
    border-width: 5px;
    border-radius: 100%;
    position: fixed;
    right: 6%; 
    bottom: 6%;
    padding: 0.5%;
    width: 15%;
    aspect-ratio: 1;
    text-align: center;
  }
  #dday{
    line-height: 7.5%;
    text-decoration-line: none;
    font-size: 2vw;
    font-family: 'Newjeans';
      position: absolute;
      top: 53%;
      left: 30%;
    font-weight: bold;
  }
  #njimg{
    height: 100%;
    width: 100%;
  }
  #reload{
    border-width: 5px;
    border-radius: 100%;
    position: fixed;
    left: 6%; 
    bottom: 6%;
    padding: 0.5%;
    width: 15%;
    aspect-ratio: 1;
    text-align: center;
  }
  #reloadtext{
    line-height: 2.5em;
    text-decoration-line: none;
    font-size: 1em;
    position: absolute;
    top: 4.5em;
    left: 4em;
    color: blue;
    user-select: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #refreshimg{
    height: 100%;
    width: 100%;
    background: none;
  }
}

html{
  word-break: keep-all;
}

.BookID{
  margin-right: 10%;
  margin-left: 10%;
}

#dday{
  padding:0.3em;
  margin:0;
  align-items: center;
}

#igimg{
  height: 1em;
}

@font-face {
  font-family : 'Newjeans';
  src : url(newjeans.ttf)
}
