
@media screen and (min-width: 1025px){
  html {
    height: 100%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  #dday{
    font-size: 30pt;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024){
  html {
    height: 100%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  #dday{
    font-size: 15pt;
  }
}
@media screen and (max-width: 768px){
  html {
    height: 100%;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
  #dday{
    font-size: 5pt;
  }
}

html{
  word-break: keep-all;
}

.BookID{
  border: thin solid black;
  margin-right: 10%;
  margin-left: 10%;
}

#dday{
  padding:0.3em;
  margin:0;
  align-items: center;
}

#ad{
  border-width: 5px;
  border-radius: 100%;
  border-color: black;
  background-color: violet;
  position: fixed;
  right: 2em; 
  bottom: 2em;
  aspect-ratio: 1/1;
  padding: 0.5%;
}
#reload{
  border-width: 5px;
  border-radius: 100%;
  border-color: black;
  background-color: rgb(68, 97, 241);
  position: fixed;
  left: 2em; 
  bottom: 2em;
  aspect-ratio: 1/1;
  padding: 0.5%;
}