html{
  background-color:rgb(222, 239, 255);
  font-family: Consolas, monaco, monospace;
}

.mode_title{
  font-size: 1.3em;
  pointer-events: none
}

.mode_element{
  font-size: 0.8em;
  pointer-events: none
}

.mode_description{
  font-size: 0.8em;
  pointer-events: none
}

@media screen and (min-width: 1025px){
  html {
    height: 100%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  #headering{
    background-color: #eeeeee; 
  }
  .gradeBox{    
    width: calc(100% / 3);   /* Divides the parent into three equal-width columns */
    margin-left: 2%;
    margin-right: 2%;
    display: flex;           /* Optional: If you want to align items inside gradeBox */
    flex-direction: column;  /* Optional: Aligns content in vertical order */
    margin-bottom: 1em; 
  }
  #gradeBoxParent{
    display: flex;         /* Enables flex layout */
    justify-content: space-between; /* Distributes space between items */
    align-items: stretch; /* Ensures all children stretch to the same height */
  }
  #mode_bar{
    display: flex;         /* Enables flex layout */
    justify-content: space-between; /* Distributes space between items */
    align-items: stretch; /* Ensures all children stretch to the same height */
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom:0;
    padding-bottom:0;
  }
  .modeButtons{    
    display: flex;
    justify-content: center;  /* Horizontal centering (optional) */
    align-items: center;      /* Vertical centering */
    width: calc(100% / 7);   /* Divides the parent into three equal-width columns */
    margin-left: 1%;
    margin-right: 1%;
    display: flex;           /* Optional: If you want to align items inside gradeBox */
    flex-direction: column;  /* Optional: Aligns content in vertical order */
    margin-bottom: 1em;
    border: none;
    border-radius: 15px; 
  }
  #mode_mode{
    border: none;
  }
  #dday{
    font-size: 30pt;
  }
  #ad{
    border-width: 5px;
    border-radius: 100%;
    position: fixed;
    right: 6%; 
    bottom: 6%;
    padding: 0.5%;
    width: 10%;
    aspect-ratio: 1;
    text-align: center;
  }
  #dday{
    line-height: 7.5%;
    text-decoration-line: none;
    font-size: 1.5vw;
    font-family: 'Newjeans';
      position: absolute;
      top: 53%;
      left: 30%;
    font-weight: bold;
  }
  #njimg{
    height: 100%;
    width: 100%;
  }
  #refreshimg{
    height: 100%;
    width: 100%;
    background: none;
  }
  #margining{
    margin-top:0%;
  }
}
@media screen and (max-width: 1025px){
  html {
    height: 100%;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
  #headering{
    background-color: #eeeeee; 
  }
  .gradeBox{    
    width: calc(100% / 3);   /* Divides the parent into three equal-width columns */
    margin-left: 2%;
    margin-right: 2%;
    display: flex;           /* Optional: If you want to align items inside gradeBox */
    flex-direction: column;  /* Optional: Aligns content in vertical order */
    margin-bottom: 1em; 
  }
  #gradeBoxParent{
    display: flex;         /* Enables flex layout */
    justify-content: space-between; /* Distributes space between items */
    align-items: stretch; /* Ensures all children stretch to the same height */
  }
  #mode_bar{
    display: flex;         /* Enables flex layout */
    justify-content: space-between; /* Distributes space between items */
    align-items: stretch; /* Ensures all children stretch to the same height */
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom:0;
    padding-bottom:0;
  }
  .modeButtons{    
    display: flex;
    justify-content: center;  /* Horizontal centering (optional) */
    align-items: center;      /* Vertical centering */
    width: calc(100% / 7);   /* Divides the parent into three equal-width columns */
    margin-left: 1%;
    margin-right: 1%;
    display: flex;           /* Optional: If you want to align items inside gradeBox */
    flex-direction: column;  /* Optional: Aligns content in vertical order */
    margin-bottom: 1em;
    border: none;
    border-radius: 15px; 
  }
  #mode_mode{
    border: none;
  }
  #dday{
    font-size: 5pt;
  }
  #ad{
    border-width: 5px;
    border-radius: 100%;
    position: fixed;
    right: 6%; 
    bottom: 6%;
    padding: 0.5%;
    width: 15%;
    aspect-ratio: 1;
    text-align: center;
  }
  #dday{
    line-height: 7.5%;
    text-decoration-line: none;
    font-size: 2vw;
    font-family: 'Newjeans';
      position: absolute;
      top: 53%;
      left: 30%;
    font-weight: bold;
  }
  #njimg{
    height: 100%;
    width: 100%;
  }
  #refreshimg{
    height: 100%;
    width: 100%;
    background: none;
  }
}

html{
  word-break: keep-all;
}

.BookID{
  margin-right: 10%;
  margin-left: 10%;
}

#dday{
  padding:0.3em;
  margin:0;
  align-items: center;
}

#igimg{
  height: 1em;
}

@font-face {
  font-family : 'Newjeans';
  src : url(newjeans.ttf)
}